.actionButton {
  width: 60px;
  height: 35px;
  color: rgb(59, 58, 58);
  background-color: rgb(214, 210, 210);
  &.activeButton {
    background-color: rgba(10, 10, 235, 0.85);
    color: white;
    &:hover {
      border: 1px solid rgb(2, 2, 100);
    }
  }
  &:disabled {
    cursor: wait;
  }
}
